<h2>Forgot Password</h2>
<%=
  form_for :user, routes.user_password_forgots_path do
    div class: 'input' do
      label      :email
      text_field :email
    end
 
    div class: 'controls' do
      submit 'Send'
    end
  end
%>
