<h2>Password Edit</h2>
<%=
  form_for :user, routes.password_update_user_path(user.id), method: :patch do
    div class: 'input' do
      label      :password
      password_field :password
    end
 
    div class: 'input' do
      label      :new_password
      password_field :new_password
    end
 
    div class: 'input' do
      label      :new_password_confirmation
      password_field :new_password_confirmation
    end
 
    div class: 'controls' do
      submit 'Edit'
    end
  end
%>
