<h2>SingUp</h2>
<%=
  form_for :user, '/users/authenticate' do
    div class: 'input' do
      label      :email
      text_field :email
    end
 
    div class: 'input' do
      label      :password
      password_field :password
    end
 
    div class: 'controls' do
      submit 'Sign In'
    end
  end
%>
<%=link_to 'forgot password', routes.user_password_forgots_path %>
