<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= favicon %>
  </head>
  <body>
    <%= render partial: 'shared/menubar' %>
    <%= render partial: 'shared/messages' %>
    <h1>Bookshelf</h1>
    <%= yield %>
  </body>
</html>
